html{
  font-size: 16px;
}

:root{
  --black: #080808;
  --grey: #4f4f4f;
  --darkGrey: #3a3a3a9c;
  --ligthGrey:#8e8e8e;
  --red: #ff0000e0;
  --white: #ffffff;
  --darkBlue: #2a3240; 
  --navbar:#f8f8f8; 
}

body{
 margin: 0px;
 padding: 0px;
 font-family: 'Roboto', sans-serif;
}